/*h1, h2, h3{
  color: gray;
  background: black;
}

h1{
  border: 3px solid green
}

h2{
  border: 2px solid red
}

/*p {
  color: green;
}*/

/*div {
  color: red;
}

.red{
  color: red;
}

.green{
  color: green;
}

.bold{
  font-weight: 900;
}

.red.bold{
  border: 1px solid;
}

#log{
  color: black;
}*/
/*
[title]{
  color: red;
}*/

/*div {
  padding: 10px;
  background: rgba(255, 0, 0, 0.2);
}

.a * {
  border: 2px solid black;
}*/

p:first-letter{
  font-size: 50px;
}

.help::before{
  content: "~";
  color: red;
}
.help:after{
  content: "[?]";
  color: blue;
}

div p:first-child{
  color: red;
}

div p:last-child{
  color: green;
}

div p:nth-child(2){
  color: blue;
}
